.Header
  background: #f0f0f0
  height: $Header_height
  display: flex
  align-items: stretch
  //justify-content: center
  flex-direction: row

.Hamburger_button
  height: $Header_height
  width: @height
  border: none
  text-decoration: none
  display: inline-block

.Header_logo
  display: flex;
  align-items: stretch
  flex-direction: row
  justify-content: center
  width: 100%
  margin-left: -1 * $Header_height

  img
    height: 100%
    width: auto


